
input[type=text], select, textarea {
    width: 100;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input1[type=text], select, textarea {
    width: 20%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=password], select, textarea {
    width: 100%;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.button {
	background-color: #0b79bf;  /*Azul */
    border: none;
    color: #0b79bf;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
	border-radius: 20px;
	width: 200px;
	cursor: pointer;
}
.button:hover {
    background-color: #004E7F;   
}

.button1 {
	background-color: #0b79bf;  /*Azul */
    border: none;
    color: #0b79bf;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
	border-radius: 20px;
	width: 180px;
	cursor: pointer;
	position: relative;
}
.button1:hover {
    background-color: #004E7F;   
}

.b{
	font-size: 18px;
	padding-top: 10px;
	font-family: times;
	color: #FFF;
}









